*{
    padding: 5px;
    margin: 0px;
}
.rating{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cur_rating{
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
    width: 90%;
    height: 50%;
    border: solid 6px #0B5ED7;
    margin:0px 10px 40px 10px;
}
.rating_card_common{
    border: 1.5px solid lightgray;
    height: 5px;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.c_rating_head{
    background: whitesmoke;
}
.c_rating_data a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.global_rating{
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
    width: 90%;
    height: 50%;
    border: solid 6px #0B5ED7;
    margin:0px 10px 40px 10px;
}