* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgray;
}

html {
  scroll-behavior: smooth;
}

#public_search_uname {
  height: 30px;
  width: 250px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 8px;
  border: 1.5px solid darkgray;
  border-radius: 10px;
}

#public_submit {
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(197, 184, 184);
  background-color: darkgray;
}

.dashboard {
  padding: 0px 10px;
  height: 90vh;
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

hr {
  width: 60%;
  height: 2px;
  margin: 20px auto;
  background-color: lightgray;
  border-radius: 10px;
}

.left_div {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_div img {
  height: 160px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.details {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 2px solid gray;
}

.details span {
  font-size: 40px;
  font-weight: bold;
}

.details p {
  font-size: 20px;
}

.right_div {
  width: 76%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
}

.github_card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px 18px 0px 0px;
  border: 2px solid rgb(155, 148, 148);
}

.github_uname {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(155, 148, 148);
}

.github_uname img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.github_uname input {
  margin: 10px 30px;
}

.github_uname button {
  margin: 10px 5px;
}

.github_uname a {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  margin: 10px 30px;
}

.github_search_uname {
  height: 30px;
  width: 250px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 8px;
  border: 1.5px solid darkgray;
  border-radius: 10px;
}

.github_submit {
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(197, 184, 184);
  background-color: darkgray;
}

.github_remove {
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(197, 184, 184);
  background-color: darkgray;
}

.github_info {
  height: 100%;
  width: 100%;
}

.common {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.common span {
  font-size: 20px;
}

.common img {
  width: 30px;
}

.codechef_card {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(155, 148, 148);
}

.codechef_uname {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(155, 148, 148);
}

.codechef_uname img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.codechef_uname a {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  margin: 10px 30px;
}

.codechef_uname input {
  margin: 10px 30px;
}

.codechef_uname button {
  margin: 10px 5px;
}

.codechef_search_uname {
  height: 30px;
  width: 250px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 8px;
  border: 1.5px solid darkgray;
  border-radius: 10px;
}

.codechef_submit {
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(197, 184, 184);
  background-color: darkgray;
}

.codechef_remove {
  height: 35px;
  width: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(197, 184, 184);
  background-color: darkgray;
}

.codechef_info {
  height: 100%;
  width: 100%;
}

.codechef_stars_img {
  margin: 0px 60px;
  display: flex;
}

.fa-pencil-square-o {
  position: relative;
  font-size: 30px;
  color: black;
  background: transparent;
  bottom: 10px;
  right: 40px;
  cursor: pointer;
  border-radius: 30px;
}