*{
    margin: 0px;
    padding: 0px;
}
.out_box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in_box{
    background:whitesmoke;
    width : 50%;
    height: 80%;
    border: solid 4px #0e5ed6a6;
    /* border: solid 2px black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.in_box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.in_box input{
    margin: 10px;
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: solid 2.5px gray;
    border-radius: 10px;
}
.in_box button{
    color: #fff;
    margin: 10px;
    width: 100px;
    height: 40px;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: #0B5ED7;
}
.sign_up{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.sign_up a{
    margin: 0px 0px 0px 20px;
    color: #000;
    font-weight: bold;
}

.gender_combo{
    width: 400px;
    height: 40px;
    font-size: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px 20px 10px;
}