<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_stylesheet.css') }}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="body_container">

        <!-- Nav Bar -->
        <nav class="navbar">
            <span>OUTLIERS.</span>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>

                {% if user.is_authenticated %}
                <li><a href="/">My-Profile</a></li>
                <li><a href="/logout">Sign-Out</a></li>
                {% else %}
                <li><a href="/login">Sign-In</a></li>
                {% endif %}
            </ul>

            <form action="{{ url_for('views.search') }}" , method="post">
                <input type="text" name="username" id="public_search_uname" placeholder="Name or Username...">
                <button type="submit" id="public_submit"><i class="fa fa-search" aria-hidden="true"
                        style="font-size:20px;"></i></button>
            </form>
        </nav>


        <!-- Flash Messages -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %} -->

        {% block body %}
        {% endblock %}
    </div>
</body>