{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard_stylesheet.css') }}">
<title>Leaderboard</title>
{% endblock %}

{% block body %}

<div class="dashboard">
    <div class="left_div">
        <p>
            Friends Leaderboard
        </p>
        <div class="leaderboard_list">
            <div class="friend_headers">
                <div class="friend_labels">
                    <span>Username</span>
                    <span>-</span>
                    <span>Score</span>
                </div>
            </div>
            <div class="friends_data">
                {% for user in friends_leaderboard %}
                <div class="friend_data_inner">
                    <div class="friend_labels_data">
                        <span>{{ user[0] }}</span>
                        <span>-</span>
                        <span>{{ user[1] }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="division"></div>
    <div class="left_div">
        <p>
            Global Leaderboard
        </p>
        <div class="leaderboard_list">
            <div class="friend_headers">
                <div class="friend_labels">
                    <span>Username</span>
                    <span>-</span>
                    <span>Score</span>
                </div>
            </div>
            <div class="friends_data">
                {% for user in global_leaderboard %}
                <div class="friend_data_inner">
                    <div class="friend_labels_data">
                        <span>{{ user[0] }}</span>
                        <span>-</span>
                        <span>{{ user[1] }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}