{% extends "base.html" %}

{% block head %}
<title>Leaderboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard_style.css') }}">
{% endblock %}


{% block content %}
<div class="rating">
    <h2>Personal Ranking</h2>
    <div class="cur_rating">
        <div class="rating_card_common c_rating_head">
            <h3>Name</h3>
            <h3>Email</h3>
            <h3>Score</h3>
        </div>
        {% for user in friends_leaderboard %}
        <div class="rating_card_common c_rating_data">
            <span>{{ user[0] }}</span>
            <form action="{{ url_for('views.public_profile', username=user[1]) }}" method="post">
                <button type="submit" name="username" value="{{ user[1] }}">{{ user[1] }}</button>
            </form>
            <span>{{ user[2] }}</span>
        </div>
        {% endfor %}
    </div>

    <h2>Global Rating</h2>
    <div class="global_rating">
        <div class="rating_card_common c_rating_head">
            <h3>Name</h3>
            <h3>Email</h3>
            <h3>Score</h3>
        </div>
        {% for user in global_leaderboard %}
        <div class="rating_card_common c_rating_data">
            <span>{{ user[0] }}</span>
            <form action="{{ url_for('views.public_profile', username=user[1]) }}" method="post">
                <button type="submit" name="username" value="{{ user[1] }}">{{ user[1] }}</button>
            </form>
            <span>{{ user[2] }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
