{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stylesheet.css') }}">
<title>OUTLIERS</title>
{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="left_div">
        <div class="details">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
            <span>{{ user.full_name }}</span>
            <p>({{ user.username }})</p>
            <p>{{ user.occupation }}</p>
            <hr>
            <p>Score - {{ user.score }}</p>
            <!-- <p>Global Ranking - NULL</p> -->
            <p>Upvotes - {{ user.upvotes }} | Downvotes - {{ user.downvotes }}</p>
            <hr>
            <p>Gender - {{ user.gender }}</p>
            <!-- <p>Followers - NULL </p> -->
        </div>
        <div class="">

        </div>
    </div>
    <div class="right_div">
        <div class="github_card">
            <div class="github_uname">
                {% if user.github_username %}
                <p>{{ user.github_username }}</p>
                <form action="{{ url_for('modify.remove_github') }}" , method="post">
                    <button type="submit" class="github_remove">X</button>
                </form>
                <form action="{{ url_for('views.refresh_github') }}" , method="post">
                    <button type="submit" class="github_remove">R</button>
                </form>
                {% else %}
                <form action="{{ url_for('modify.add_github') }}" , method="post">
                    <input type="text" name="github_username" class="github_search_uname" placeholder="Github Username....">
                    <button type="submit" class="github_submit">GO</button>
                </form>
                {% endif %}
            </div>
            <div class="github_info">
                {% if user.github_username %}
                <div class="github_stars common">
                    <span>Stars: {{ user.github_data.stargazers_count }}</span>
                </div>
                <div class="github_forks common">
                    <span>Forks: {{ user.github_data.forks_count }}</span>
                </div>
                <div class="github_total_follower common">
                    <span>Total Followers: {{ user.github_data.followers }}</span>
                </div>
                <div class="github_contri common">
                    <span>Contributions Last Year: {{ user.github_data.total_commits }}</span>
                </div>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
            </div>
        </div>

        <!-- -----codechef info----- -->
        <div class="codechef_card">
            <div class="codechef_uname">
                {% if user.codechef_username %}
                <p>{{ user.codechef_username }}</p>
                <form action="{{ url_for('modify.remove_codechef') }}" , method="post">
                    <button type="submit" class="codechef_remove">X</button>
                </form>
                <form action="{{ url_for('views.refresh_codechef') }}" , method="post">
                    <button type="submit" class="codechef_remove">R</button>
                </form>
                {% else %}
                <form action="{{ url_for('modify.add_codechef') }}" , method="post">
                    <input type="text" name="codechef_username" class="codechef_search_uname"
                        placeholder="Codechef Username....">
                    <button type="submit" class="codechef_submit">GO</button>
                </form>
                {% endif %}
            </div>
            <div class="codechef_info">
                {% if user.codechef_username %}
                <div class="codechef_cur_rating common">
                    <span>Country: {{ user.codechef_data.country }}</span>
                </div>
                <div class="codechef_stars common">
                    <span>Stars: {{ user.codechef_data.num_stars }}</span>
                    <!-- <div class="codechef_stars_img">
                        <img src="{{ url_for('static', filename='images/star.png') }}" alt="rating">
                        <img src="{{ url_for('static', filename='images/star.png') }}" alt="rating">
                        <img src="{{ url_for('static', filename='images/star.png') }}" alt="rating">
                        <div style="width:15px;height:30px;overflow:hidden;">
                            <img src="{{ url_for('static', filename='images/star.png') }}" alt="rating">
                        </div>
                    </div> -->
                </div>
                <div class="codechef_cur_rating common">
                    <span>Current Rating: {{ user.codechef_data.rating }}</span>
                </div>
                <div class="codechef_high_rating common">
                    <span>Highest Rating: {{ user.codechef_data.highest_rating }}</span>
                </div>
                <div class="codechef_country_ranking common">
                    <span>Country Ranking: {{ user.codechef_data.country_rank }}</span>
                </div>
                <div class="codechef_g_Ranking common">
                    <span>Global Ranking: {{ user.codechef_data.global_rank }}</span>
                </div>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
            </div>
        </div>

        <!-- -----codeforces info----- -->
        <div class="codechef_card">
            <div class="codechef_uname">
                {% if user.codeforces_username %}
                <p>{{ user.codeforces_username }}</p>
                <form action="{{ url_for('modify.remove_codeforces') }}" , method="post">
                    <button type="submit" class="codechef_remove">X</button>
                </form>
                <form action="{{ url_for('views.refresh_codeforces') }}" , method="post">
                    <button type="submit" class="codechef_remove">R</button>
                </form>
                {% else %}
                <form action="{{ url_for('modify.add_codeforces') }}" , method="post">
                    <input type="text" name="codeforces_username" class="codechef_search_uname"
                        placeholder="Codeforces Username....">
                    <button type="submit" class="codechef_submit">GO</button>
                </form>
                {% endif %}
            </div>
            <div class="codechef_info">
                {% if user.codeforces_username %}
                <div class="codechef_ranking common">
                    <span>Ranking: {{ user.codeforces_data.rank }}</span>
                </div>
                <div class="codechef_cur_rating common">
                    <span>Current Rating: {{ user.codeforces_data.rating }}</span>
                </div>
                <div class="codechef_high_rating common">
                    <span>Highest Rating: {{ user.codeforces_data.highest_rating }}</span>
                </div>
                <div class="codechef_total_probs common">
                    <span>Total Problem Solved: {{ user.codeforces_data.problems_solved }}</span>
                </div>
                {% else %}
                <h3>Not Available</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}