<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>

    <style>
      .row_new{
        /* border: solid 2px red; */
        height: 100vh;
      }
      .common{
        display: flex;
        padding: 10px 0px 0px 10px;
      }
      .common h6{
        margin-right: 10px;
      }
      .card_common{
        margin-bottom: 25px;
        border: solid 1.5px lightgray;
        border-radius: 20px 0px 20px 0px;
      }
      .username_common{
        background-color: whitesmoke;
        border-radius: 20px 0px 0px 0px;
      }
      .username_common a{
        text-decoration: none;
        color: black;
        font-weight: 500;
      }
      .username_common img{
        width:35px;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      .sidebar_logo{
        width: 25px;
      }

    </style>
</head>
<body>
    <div class="container">
        <div class="main-body">
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>John Doe</h4>
                          <p class="text-secondary mb-1">Full Stack Developer</p>
                          <button class="btn btn-primary">Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Kenneth Valdez
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          fip@jukmuh.al
                        </div>
                      </div>
                      <hr>
                      <!-- <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                        </div>
                      </div> -->
                    </div>
                  </div>
    
                  <div class="row_new">

                    <div class="github_card card_common">
                      <div class="github_username common username_common">
                        <img src="../static/image/github.png" alt="Github">
                        <a href="https://github.com/username">user_1121</a>
                      </div>
                      <div class="github_comit_count common">
                        <h6>Total Commits</h6>
                        <span>112</span>
                      </div>
                      <div class="github_followers common">
                        <h6>Total Followers</h6>
                        <span>112</span>
                      </div>
                      <div class="github_contributions common">
                        <h6>Total Contributions</h6>
                        <span>112</span>
                      </div>
                      <div class="github_star_rating common">
                        <h6>Github Star Rating</h6>
                        <span>4</span>
                      </div>
                    </div>

                    <div class="cf_card card_common">
                      <div class="cf_username common username_common">
                        <img src="../static/image/code-forces.png" alt="Codeforces">
                        <a href="https://codeforces.com/profile/username">user_1121</a>
                      </div>
                      <div class="cf_u_rating common">
                        <h6>Current Rating</h6>
                        <span>4</span>
                      </div>
                      <div class="cf_h_rating common">
                        <h6>Highest Rating</h6>
                        <span>4.5</span>
                      </div>
                      <div class="cf_contests common">
                        <h6>Total Contests</h6>
                        <span>112</span>
                      </div>
                      <div class="cf_ps common">
                        <h6>Total Problem Solved</h6>
                        <span>112</span>
                      </div>
                    </div>
                    
                    <div class="cc_card card_common">
                      <div class="cc_username common username_common">
                        <img src="../static/image/code-chef.png" alt="CodeChef">
                        <a href="https://codechef.com/users/username">user_1121</a>
                      </div>
                      <div class="cc_u_rating common">
                        <h6>Current Rating</h6>
                        <span>4</span>
                      </div>
                      <div class="cc_h_rating common">
                        <h6>Highest Rating</h6>
                        <span>4.5</span>
                      </div>
                      <div class="cc_global_rank common">
                        <h6>Global Ranking</h6>
                        <span>1</span>
                      </div>
                      <div class="cc_country_rank common">
                        <h6>Country Ranking</h6>
                        <span>1</span>
                      </div>
                      <div class="cc_star common">
                        <h6>Star Rating</h6>
                        <span>4</span>
                      </div>
                    </div>
                  </div>
    
    
                </div>
              </div>
    
            </div>
        </div>
</body>
</html>