{% extends "base.html" %}

{% block head %}
<style>
  .row_new {
    /* border: solid 2px red; */
    height: 100vh;
  }

  .common {
    display: flex;
    padding: 10px 0px 0px 10px;
  }

  .common h6 {
    margin-right: 10px;
  }

  .card_common {
    margin-bottom: 25px;
    border: solid 1.5px lightgray;
    border-radius: 20px 0px 20px 0px;
  }

  .username_common {
    background-color: whitesmoke;
    border-radius: 20px 0px 0px 0px;
  }

  .username_common a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  .username_common img {
    width: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .sidebar_logo {
    width: 25px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{ user_obj.flask_obj.full_name }}</h4>
                <p class="text-secondary mb-1">{{ user_obj.flask_obj.occupation }}</p>
                <!-- <button class="btn btn-primary">Follow</button> -->
              </div>
              <div>
                <a href="{{ url_for('modify.upvote') }}"><img src="../static/image/thumbd_up.png" alt="Like" style="width:60px"></a>
                <a href="{{ url_for('modify.downvote') }}"><img src="../static/image/thumbd_up.png" alt="UnLike" style="width:60px;-webkit-transform:rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap list">
              <img src="../static/image/search.png" alt="Search" class="sidebar_logo">

              <form action="{{ url_for('views.public_profile') }}" method="post">
                <input placeholder="Email..." type="email" id="email" name="email"
                  style="border: solid 1px lightgray;border-radius: 5px;height: 30px;width:70%;">
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              <img src="../static/image/trophy.png" alt="Search" class="sidebar_logo">
              <div style="width: 100%;margin-left: 30px;">
                <a href="#" style="text-decoration: none;color: black;font-weight: 500;">Leaderboard</a>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <img src="../static/image/logout.png" alt="Search" class="sidebar_logo">
              <div style="width: 100%;margin-left: 30px;">
                <a href="/logout" style="text-decoration: none;color: black;font-weight: 500;">Logout</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-8">

        <div class="row_new">

          <div class="github_card card_common">
            {% if user_obj.github_username %}
            <div class="github_username common username_common">
              <img src="../static/image/github.png" alt="Github">
              <a href="https://github.com/{{ user_obj.github_username }}" target="_blank" rel="noreferrer noopener">
                {{ user_obj.github_username }}</a>
            </div>
            <div class="github_contributions common">
              <h6>Contributions in the Last Year</h6>
              <span>{{ user_obj.github_details["total_commits"] }}</span>
            </div>
            <div class="github_followers common">
              <h6>Total Followers</h6>
              <span>{{ user_obj.github_details["followers"] }}</span>
            </div>
            <div class="github_forks common">
              <h6>Fork Count</h6>
              <span>{{ user_obj.github_details["forks_count"] }}</span>
            </div>
            <div class="github_stars common">
              <h6>Star Count</h6>
              <span>{{ user_obj.github_details["stargazers_count"] }}</span>
            </div>

            <form method="POST" action="{{ url_for('modify.remove_github') }}">
              <button type="submit" class="btn btn-primary">Remove</button>
            </form>

            {% else %}

            <form method="POST" action="{{ url_for('modify.add_github') }}">
              <div class="form-group col-sm-4">
                <label for="github_username">GitHub Username</label>
                <input type="github_username" class="form-control" id="github_username" name="github_username"
                  placeholder="Enter GitHub Username..." />
              </div>
              <br><button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% endif %}
          </div>

          <div class="cf_card card_common">
            {% if user_obj.codeforces_username %}
            <div class="cf_username common username_common">
              <img src="../static/image/code-forces.png" alt="Codeforces">
              <a href="https://codeforces.com/profile/{{ user_obj.codeforces_username }}" target="_blank"
                rel="noreferrer noopener">{{ user_obj.codeforces_username }}</a>
            </div>
            <div class="cf_u_rating common">
              <h6>Current Rating</h6>
              <span>{{ user_obj.codeforces_details["rating"] }}</span>
            </div>
            <div class="cf_h_rating common">
              <h6>Highest Rating</h6>
              <span>{{ user_obj.codeforces_details["highest_rating"] }}</span>
            </div>
            <div class="cf_contests common">
              <h6>Total Contests</h6>
              <span>{{ user_obj.codeforces_details["contests"] }}</span>
            </div>
            <div class="cf_ps common">
              <h6>Total Problem Solved</h6>
              <span>{{ user_obj.codeforces_details["problems_solved"] }}</span>
            </div>
            <div class="cf_rank common">
              <h6>Current Ranking</h6>
              <span>{{ user_obj.codeforces_details["rank"] }}</span>
            </div>

            <form method="POST" action="{{ url_for('modify.remove_codeforces') }}">
              <button type="submit" class="btn btn-primary">Remove</button>
            </form>

            {% else %}

            <form method="POST" action="{{ url_for('modify.add_codeforces') }}">
              <div class="form-group col-sm-4">
                <label for="codeforces_username">CodeForces Username</label>
                <input type="codeforces_username" class="form-control" id="github_username" name="codeforces_username"
                  placeholder="Enter CodeForces Username..." />
              </div>
              <br><button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% endif %}
          </div>

          <div class="cc_card card_common">

            {% if user_obj.codechef_username %}

            <div class="cc_username common username_common">
              <img src="../static/image/code-chef.png" alt="CodeChef">
              <a href="https://codechef.com/users/{{ user_obj.codechef_username }}" target="_blank"
                rel="noreferrer noopener">{{ user_obj.codechef_username }}</a>
            </div>
            <div class="cc_country common">
              <h6>Country</h6>
              <span>{{ user_obj.codechef_details['country'] }}</span>
            </div>
            <div class="cc_u_rating common">
              <h6>Current Rating</h6>
              <span>{{ user_obj.codechef_details['rating'] }}</span>
            </div>
            <div class="cc_h_rating common">
              <h6>Highest Rating</h6>
              <span>{{ user_obj.codechef_details['highest_rating'] }}</span>
            </div>
            <div class="cc_global_rank common">
              <h6>Global Ranking</h6>
              <span>{{ user_obj.codechef_details['global_rank'] }}</span>
            </div>
            <div class="cc_country_rank common">
              <h6>Country Ranking</h6>
              <span>{{ user_obj.codechef_details['country_rank']}}</span>
            </div>
            <div class="cc_star common">
              <h6>Star Rating</h6>
              <span>{{ user_obj.codechef_details['num_stars'] }}</span>
            </div>

            <form method="POST" action="{{ url_for('modify.remove_codechef') }}">
              <button type="submit" class="btn btn-primary">Remove</button>
            </form>

            {% else %}

            <form method="POST" action="{{ url_for('modify.add_codechef') }}">
              <div class="form-group col-sm-4">
                <label for="codechef_username">Codechef Username</label>
                <input type="codechef_username" class="form-control" id="codechef_username" name="codechef_username"
                  placeholder="Enter Codechef Username..." />
              </div>
              <br><button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% endif %}

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

</html>