{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_stylesheet.css') }}">
<title>Search</title>
{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="out_box">
        <div class="search_in">
            <form action="{{ url_for('views.search') }}" method="post">
                <input type="text" name="username" id="search_uname" placeholder="Enter Username">
                <input type="submit" name="submit_btn" id="submit_btn" value="Submit">
            </form>
        </div>
        <div class="search_results">
            {% for user in user_list %}
            <div class="search_card"
                onclick="location.href='{{ url_for('''views.public_profile''', username=user._id) }}'"
                style="cursor:pointer;">
                <div class="card_top">
                    <div class="info">
                        <span style="font-size: 25px; font-weight: bold; padding-right: 15px;">OUTLIERS. </span>
                        <p>{{ user._id }}</p>
                    </div>
                    <div style="width: 0px; height: 85%;border: 1px solid black;"></div>
                    <div class="info">
                        <img src="{{ url_for('static', filename='images/github.png') }}" alt="">
                        <p>{{ user.github_username }}</p>
                    </div>
                </div>
                <div class="division"></div>
                <div class="card_top">
                    <div class="info">
                        <img src="{{ url_for('static', filename='images/code-chef.png') }}" alt="">
                        <p>{{ user.codechef_username }}</p>
                    </div>
                    <div style="width: 0px; height: 85%;border: 1px solid black;"></div>
                    <div class="info">
                        <img src="{{ url_for('static', filename='images/code-forces.png') }}" alt="">
                        <p>{{ user.codeforces_username }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}