aniso8601==9.0.1
appnope==0.1.2
argon2-cffi==21.1.0
astroid==2.5.6
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.12
click==8.0.4
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
docformatter==1.4
entrypoints==0.3
Flask==2.0.3
Flask-RESTful==0.3.9
gunicorn==20.1.0
idna==3.3
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.8.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.0.2
jsonschema==4.0.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.4
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.10.0
pylint==2.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2022.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.1
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
untokenize==0.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.1
wrapt==1.12.1
